<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liu.meetingmanagement.meetingroom.dao.MeetingRoomDao">
    <resultMap id="MeetingRoomMap" type="com.liu.meetingmanagement.meetingroom.model.MeetingRoom">
        <result column="roomID" jdbcType="INTEGER" property="roomID"/>
        <result column="roomName" jdbcType="VARCHAR" property="roomName"/>
        <result column="roomCapacity" jdbcType="INTEGER" property="roomCapacity"/>
        <result column="roomLocation" jdbcType="VARCHAR" property="roomLocation"/>
    </resultMap>

    <!--获得所有会议室信息-->
    <select id="getAllMeetingRoom" resultMap="MeetingRoomMap">
        SELECT *
        FROM meeting_room
    </select>

    <!--获得会议室数量-->
    <select id="countMeetingRoom" resultType="java.lang.Integer">
        SELECT count(*)
        FROM meeting_room
    </select>

    <!--根据roomID删除会议室-->
    <delete id="deleteMeetingRoomByRoomID" parameterType="java.lang.Integer">
        DELETE FROM meeting_room
        WHERE roomID = #{arg1}
    </delete>

    <!--根据roomID获取会议室详情-->
    <select id="getMeetingRoomByRoomID" parameterType="java.lang.Integer" resultMap="MeetingRoomMap">
        SELECT *
        FROM meeting_room
        WHERE roomID = #{arg1}
    </select>

    <!--根据roomID修改会议室详情-->
    <update id="updateMeetingRoomByRoomID">
        UPDATE meeting_room
        <set>
            <if test="roomName!=null">
                roomName = #{roomName},
            </if>
            <if test="roomCapacity!=null">
                roomCapacity = #{roomCapacity},
            </if>
            <if test="roomLocation!=null">
                roomLocation = #{roomLocation},
            </if>
        </set>
        WHERE roomID = #{roomID}
    </update>

    <!--新增会议室-->
    <insert id="newMeetingRoom" parameterType="com.liu.meetingmanagement.meetingroom.model.MeetingRoom">
        INSERT INTO meeting_room (roomName, roomCapacity, roomLocation)
        VALUE (#{roomName}, #{roomCapacity} ,#{roomLocation})
    </insert>

    <!--根据会议室名查询会议室-->
    <select id="getMeetingRoomByRoomName" parameterType="java.lang.String" resultMap="MeetingRoomMap">
        SELECT *
        FROM meeting_room
        WHERE roomName = #{arg1}
    </select>
</mapper>