<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.liu.meetingmanagement.auth.dao.ResourceDao">
    <resultMap id="BaseResultMap" type="com.liu.meetingmanagement.auth.model.SysResources">

        <id column="resourceID" property="resourceID" jdbcType="INTEGER"/>
        <result column="resourceName" property="resourceName" jdbcType="VARCHAR"/>
        <result column="resourceUrl" property="resourceUrl" jdbcType="VARCHAR"/>
    </resultMap>

    <!--获取所有资源信息-->
    <select id="getAllResources">
        SELECT *
        FROM sys_resources
    </select>

    <!--根据用户id获取资源路径-->
    <select id="getResourcesUrlByUserID" parameterType="java.lang.Integer" resultType="java.lang.String">
        SELECT sre.resourceUrl FROM sys_user_role sur
        LEFT JOIN sys_user su ON su.userID = sur.userID
        LEFT JOIN sys_role sr ON sur.roleID=sr.roleID
        LEFT JOIN sys_role_resources srr ON sur.roleID = srr.roleID
        LEFT JOIN sys_resources sre ON sre.resourceID = srr.resourceID
        WHERE su.userID= #{arg1}
    </select>
</mapper>